<h1>Dealerships</h1>

<h3>Add a dealership here:</h3>

<form action="/dealerships" method="post">
  <label for='name'>Dealership's name:</label>
  <input id='name' name='name' type='text' required>
  <button type="submit" class="btn btn-success">Add Dealership</button>
</form>

<% if @dealerships == nil %>
  <p>There are currently no dealers stored</p>
<ul>
  <% else @dealerships.each() do |dealership| %>
  <li><a href="/dealerships/<%= dealership.id() %>"><%= dealership.name() %></a></li>
  <% end %>
  <% end %>
</ul>

<form action="/" method="post">
  <button type="submit" class="btn btn-danger">Clear Dealer List</button>
</form>
